body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1{
    color: navy
}

p {
    color:#333333;
}

.highlight {
    color: orange;
    background-color:black;
    padding: 10px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: center;
    background-color: #ddd;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 300px;
    align-items: flex-start;
    }

.item {
    background-color: steelblue;
    color: white;
    padding: 30px;
    font-size: 20px;
    border-radius: 5px;
}